
input {
    vertical-align: middle;

    border: none;
}

.btn-default {
    color: $body-bg;


    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

	background: #ff8e00;

    border-radius: 0;
	border: 2px solid #ffba00;
    transition-duration: $default-transition-duration;

    &:hover {
        color: $body-bg;
        background: #ffba00;
        border-color: #ff8e00;
    }
}
