
.hero {
	 position: relative;
	background-size: auto 100%;
	text-align: center;

   
    


  

    @media screen and (min-width: 1630px) {
        background-size: 100% auto;
    }

    .hero-container {
        margin: 100px 0;
    }
	
	img{
		max-width: 50%;
		height: auto;
	}

    .hero-title {
        font-family: $header-font;
        text-transform: uppercase;
        color: #fff;	
		-webkit-text-stroke: 0.3px black;
		
    }

    .hero-title-l1 {
        font-size: 65px;
    }

    .hero-title-l2 {
        margin-top: 10px;
        font-size: 70px;
    }



    .hero-buttons {
        margin-top: 50px;

        input {
            width: 300px;
            height: 40px;
            padding: 0 15px;
            line-height: 40px;
        }

        .btn-default {
            height: 40px;
            padding: 0 15px;
        }
    }
}

.hero-title-highlight-1 {
	color: #ffb900;
}

.hero-title-highlight-2 {
	color: #ff8e00;
}

.hero-background {
	position:fixed;
	background:url('../assets/images/hero/background_hero.jpg') no-repeat center top;
		-webkit-filter: blur(2px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
	filter: blur(2px);
	background-size:cover;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
}