// From bootstrap
$font-size-base: 14px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$text-color: #333;
$body-bg: #fff;
$brand-primary: #4F8CFC;


// Fonts
$text-font: 'Roboto', sans-serif;
$header-font: 'Roboto', sans-serif;


// Animation
$default-transition-duration: .3s;
